* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.8s;
}
/* 
----------------------------------------
              gallery  
----------------------------------------
*/

.title {
  width: 100%;
  justify-content: center;
  display: flex;
}
.title h2 {
  width: 400px;
  background-color: gainsboro;
  margin: 10px 0;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 30px;
  text-align: center;
}
.single_img {
  text-align: center;
  margin: 10px 0;
}

.single_img img {
  width: 300px;
  height: 300px;
  border: 3px solid black;
  padding: 10px;
}
.gallery_img {
  width: 100%;
  cursor: pointer;
}
.gallery_img img {
  width: 100px;
  height: 100px;
  margin: 10px 0;
  padding: 10px;
}

/* 
----------------------------------------
              accordion 
----------------------------------------
*/
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(7, 107, 134);
  padding: 10px;
  box-shadow: 2px 2px 2px rgb(207, 207, 207);
  cursor: pointer;
  margin-top: 5px;
  color: #fff;
}

.toggle_icon {
  background-color: #fff;
  padding: 5px;
  border-radius: 30px;
}

.answer {
  background-color: rgb(74, 200, 235);
  padding: 10px;
  transition: 1s;
}

/* 
----------------------------------------
            swipe core slider
----------------------------------------
*/

.swiper_slider_core {
  position: relative;
  height: 100%;
}

.swiper_slider_core {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
